/* Custom CSS */
@media (min-width: 768px) {
  .w-md-50 {
    width: 50% !important;
  }
}

@media (min-width: 1200px) {
  .w-lg-100 {
    width: 100% !important;
  }
}

.gradient-bar {
  background: linear-gradient(to right, #eb0b13 0%, #00073e 75%);
}

.rounded-rem-1 {
  border-radius: 1rem;
}

.staff_create_account_background {
  transform: scale(115%);
  filter: brightness(0.44);
}
